 
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
     margin: 0;
     padding: 0;
     -webkit-tap-highlight-color: transparent;
}

body{
    overflow-x: hidden;
}

h2{
    font-size: 40px;
    line-height: 1em;
    color:white;
    text-align: center;
    font-family: "Permanent Marker", cursive;
     font-weight: 400;
     font-style: normal;
}

.FlexDiv{
    display:flex;
}

.FlexRow{
    flex-direction: row;
}

.FlexColumn{
    flex-direction: column;
}

.ImgWidth100 img{
    width:100%;
}

@media (max-width: 1000px){
    h2{
        font-size: 26px;
        line-height: 1em;
    }
}

 /*  ------------------ CONFIGURACIÓN GENERAL ------------------ */

 .GeneralContainer{
    width:100svw;
    background-color:#564184;
    background-position: center bottom;
    background-size: cover;
 }

 .SeparadorHorizontal{
    height:8svh;
 }

 @media (max-width: 1000px){
     .SeparadorHorizontal{
        height:6svh;
     }
}

@media (min-width: 1530px){
    .SeparadorHorizontal{
        height:6svw;
     }
}

/*  ------ CONFIGURACIÓN FONDO DIVIDIDO ----- */
.FondoSuperior{
    background-image: url("../Images/FondoSuperior.jpg");
    background-size: cover;
    background-position: bottom center;
}

.FondoGradiente{
    background: rgb(86,65,132);
    background: linear-gradient(0deg, rgba(86,65,132,1) 0%, rgba(87,71,206,1) 28%, rgba(119,96,246,1) 42%, rgba(87,71,206,1) 72%, rgba(86,65,132,1) 100%);
}

.FondoInferior{
    background-image: url("../Images/FondoInferior.jpg");
    background-size: cover;
    background-position: top center;
}

@media (max-width: 768px){
    .FondoInferior{
        background-image: url("../Images/FondoInferiorMobile.jpg");
    }
}

/*  ------------------ CONFIGURACIÓN PÁGINA HOME ------------------ */

/*  ------ CONFIGURACIÓN LOGO JUGANDO ----- */

 .LogoContainer{
    padding-top:5svh;
    width:40%;
    max-width:550px;
    text-align: center;
    margin:0 auto;
 }

 @media (max-width: 1000px){
    .LogoContainer{
        width:70%;
        max-width:550px;
     }
}

  /*  ------ CONFIGURACIÓN VIDEO LANDING ----- */
 .VideoContainer{
    text-align: center;
}

    iframe {
        width: 60vw;
        height: 34vw;
        margin: 0 auto;
        border-radius: 10px;
    }


@media (max-width: 1000px){
    iframe {
        width: 90svw;
        height: 50.6vw;
     }
}

  /*  ------ CONFIGURACIÓN PRE SAVE ----- */

.PreSaveContainer{
    padding:0 5svw;
    color:white;
    text-align: center;
}

.PreSaveButton{
    margin: 0 auto;
    width:200px;
    transition: 0.2s;
}

.PreSaveButton:hover{
    transform: scale(1.04);
}

.LogosPlataformas{
    margin: 0 auto;
    width:50svw;
    max-width:600px;
}

@media (max-width: 1000px){
    .PreSaveButton{
        width:180px;
    }

    .LogosPlataformas{
        width:80svw;
    }
}

  /*  ------ CONFIGURACIÓN FECHAS CONCIERTOS ----- */

  .DatesContainer{
    max-width: 960px; /*Ancho máximo contenedor fechas*/
    width:80%; /*Ancho contenedor fechas*/
    margin: 0 auto;
    padding: 0 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    .DatesContainer div{
    display:flex;
    flex-direction: row;
    min-height: 60px; /*Altura fechas*/
    align-items: center;
    justify-content: center;
}

 .FechaConcierto{
    display:flex;
    text-align: right;
    gap:2vw;
    animation: fadeInAnimation 2s ease-in-out 1;
    align-items: center;
    justify-content: space-between;
}

.DiaMesConcierto{
    font-weight: 800;
    font-size:18px;
    color: white;
    flex-basis: 14%; /*Ancho fecha mes día*/
}

.CiudadConcierto{
    font-size:20px;
    display: inline-block;
    flex-basis: 32%; /*Ancho ciudad país*/
    text-align:center;
    color: #FFF;
}

.BotonConcierto{
    flex-basis: 18%;/*Ancho botón*/
}

 .BotonConcierto button{
     background-color: transparent;
     border: 0 solid transparent;
     transition: 0.3s;
     width:100%;
}

@media (max-width:768px){
    .DatesContainer div{
        flex-direction: column;
        min-height: 2px;
   }

   .FechaConcierto{
    display: block;
    text-align: center;
    gap:0vw;
    padding-top:3vw;
    padding-bottom:3vw;
}

.BotonConcierto button img{
    height:50px;
}
}

  /*  ------ CONFIGURACIÓN LOGO GRUPO FRONTERA ----- */

.LogoGFContainer{
    width:20%;
    max-width:200px;
    text-align: center;
    margin:0 auto;
    padding-bottom:3svh;
}

@media (max-width: 1000px){
    .LogoGFContainer{
        width:30%;
    }
}

/*  ------ SCROLLBAR ----- */

    /* Width */
    ::-webkit-scrollbar {
        width: 8px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: #222;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #cc0a55;
        border-radius: 100px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #a60e45;
    }
